h1 {
    text-align: center;   
    font-family: "Lucida Console", "Courier New", monospace; 
    }

h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    text-align: center;
}

/*h4 {
    text-align: center;
    padding: 0px 50px 0px 50px;
}*/

 body {
    padding: 0px 200px 100px 200px;
    font-family: Arial;
    margin-top: 100px;
    justify-content: center;
    background-color: grey;
}

.p4 {
    text-align: center;
}

.instext {
   border-bottom: 1px solid gray;
   font-style: italic;
}

.me {
        text-align: center;    
}

.content {
    
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

ol {
    list-style-position: inside;
    text-align: left;
    padding: 0px ;
    }

li {
    list-style-position: inside;
}

 table, tr, th {
    color: #000000;
    text-align: left;
    border: #000000 solid 1px;
    padding: 5px;
    width: 50%;
    }
  

.summary {
    font-size: 16px;
    font-style: italic; 
    text-align: center; 
    }

.summary img {
    float: center;
    transition: transform 1s ease;
    }

.summary img:hover {
    transform: scale(3);
    }   

   /* floating images */

    * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }